{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <hr/>

    <!-- Mensajes Flash -->
    {% include 'messages/messages.html' %}

    {% comment %}
        <!-- Prueba de Sessiones -->
        {{request.session.usuario}}
    {% endcomment %}

    <!-- Mensaje al usuario -->
    {% if request.session.usuario %}
        <h2>Bienvenido, {{request.session.usuario.1}} {{request.session.usuario.2}}</h2>
        <p>
            Te autenticaste correctamente.
        </p>
    {% else %}
        <h2>Identificate para ver mas cosas</h2>
    {% endif %}
{% endblock %}